{% extends "base.html" %}

{% block content %}
    <h1>Tweets</h1>

    <p>Sort by:
        <a href="?order_by=newest">Newest</a> |
        <a href="?order_by=most_likes">Most Likes</a>
    </p>

    <ul>
        {% for tweet in tweets %}
            <li>
                <p>{{ tweet.content | urlize }}</p>
                <p>Likes: {{ tweet.number_of_likes }} | Replies: {{ tweet.reply_counter }} | Reposts: {{ tweet.number_of_reposts }}</p>
                <p>Author: {{ tweet.user.get_full_name }} ({{ tweet.user.username }})</p>
                <p>Creation Date: {{ tweet.created_at }}</p>
                <a href="{% url 'tweet_detail' tweet.id %}">Details</a>

                {% if user.is_authenticated %}
                <form method="post" action="{% url 'like_tweet' tweet.id %}">
                    {% csrf_token %}
                    <button type="submit">Like</button>
                </form>
                <form method="post" action="{% url 'repost_tweet' tweet.id %}">
                    {% csrf_token %}
                    <button type="submit">Repost</button>
                </form>
            {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if tweets.has_previous %}
                <a href="?page=1&order_by={{ order_by }}">&laquo; First</a>
                <a href="?page={{ tweets.previous_page_number }}&order_by={{ order_by }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ tweets.number }} of {{ tweets.paginator.num_pages }}.
            </span>

            {% if tweets.has_next %}
                <a href="?page={{ tweets.next_page_number }}&order_by={{ order_by }}">Next</a>
                <a href="?page={{ tweets.paginator.num_pages }}&order_by={{ order_by }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}