{% extends "base.html" %}

{% block content %}
    <h1>Posts</h1>

    <p>Sort by:
        <a href="?order_by=newest">Newest</a> |
        <a href="?order_by=most_likes">Most Likes</a>
    </p>
    <ul>
        {% for tweet in tweets %}
            {% for user in following_users %}
                {% if user in tweet.repost.all %}
                <i class="bi bi-reply"></i>
                <small class="text-muted">reposted by <a class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'profile' user.username %}">@{{ user.username }}</a> </small>
                {% endif %}
            {% endfor %}
            {% include "one_tweet.html" with tweet=tweet %}
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if tweets.has_previous %}
                <a href="?page=1&order_by={{ order_by }}">&laquo; First</a>
                <a href="?page={{ tweets.previous_page_number }}&order_by={{ order_by }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ tweets.number }} of {{ tweets.paginator.num_pages }}.
            </span>

            {% if tweets.has_next %}
                <a href="?page={{ tweets.next_page_number }}&order_by={{ order_by }}">Next</a>
                <a href="?page={{ tweets.paginator.num_pages }}&order_by={{ order_by }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}