{% extends "base.html" %}
{% block content %}
    
    <h2>Yesterday Posts with Tag <button class="btn btn-light rounded-pil" disabled><h2># {{ tag_name }}</h2></button> in <strong>{{ country_name }}</strong></h2>
    
    {% for tweet in tweets %}
        {% include "one_tweet.html" with tweet=tweet %}
    {% endfor %}

    {% if previous_page is not None %}
    <a href="?page=1">First</a>
    <a href="?page={{ previous_page }}">Prev</a>
    {% endif %}

    {% if next_page is not None %}
    <a href="?page={{ next_page }}">Next</a>
    <a href="?page={{ last_page }}">Last</a>

    {% endif %}

{% endblock content%}
