{% extends "base.html" %}

{% block content %}
    <div class="mx-md-auto p-2 p-md-3 border rounded-4 bg-body-white">
        <h2 class="text-center">Reply tweet</h1>
        <div class="mx-md-auto p-2 p-md-3 border rounded-4 bg-body-tertiary">
            {% include "one_tweet.html" with tweet=replied_tweet %}
            
            <form class="mx-md-auto p-2 p-md-3 border rounded-4 bg-body-white" method="POST" action="{% url 'reply_tweet' replied_tweet.id %}">
                <div class="container p-2 p-md-3">
                    {% csrf_token %}
                    {{ form }}
                    <button class="w-25 btn btn-lg btn-primary rounded-pill" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}