{% extends "base.html" %}
{% block content %}
    
    <h2>Yesterday Posts with Tag <button class="btn btn-light rounded-pil" disabled><h2># {{ tag_name }}</h2></button> in <strong>{{ country_name }}</strong></h2>
    
    {% for tweet in tweets %}
        {% include "one_tweet.html" with tweet=tweet %}
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if tweets.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ tweets.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ tweets.number }} of {{ tweets.paginator.num_pages }}.
            </span>

            {% if tweets.has_next %}
                <a href="?page={{ tweets.next_page_number }}">Next</a>
                <a href="?page={{ tweets.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content%}
